<div>
  <div><a href="https://www.linkedin.com/in/donatas-lisauskas-70a0711aa/" target="_blank">
    <img src="/assets/pics/Linkedin2.png" class="linkedln" style="cursor: pointer">
  </a></div>
  <div>
    <a href="https://github.com/DonatasLisauskas" target="_blank">
      <img src="/assets/pics/GitHub-Mark.png" class="github" style="cursor: pointer">
    </a>
  </div>
  <div>
    <a href="https://gitlab.com/LDonatas" target="_blank">
      <img src="/assets/pics/gitlab-282507.png" class="gitlab" style="cursor: pointer">
    </a>
  </div>
</div>
