.linkedln {
  height:60px;
  width: 60px;
  position: fixed;
  right: 0;
  top:200px;
}
.github {
  height:60px;
  width: 60px;
  position: fixed;
  right: 0;
  top:280px;
}
.gitlab {
  height:60px;
  width: 60px;
  position: fixed;
  right: 0;
  top:360px;
}

img:hover {
  height:70px;
  width: 70px;
}
