<div class="about-container">
  <app-links></app-links>
  <div class="name-section" >
    <div>
      <h1>DONATAS</h1>
      <h1>LISAUSKAS</h1>
      <h2>ENTRY LEVEL (JUNIOR) FULL-STACK DEVELOPER OF JAVA</h2>
    </div>
    <div class="img-container">
      <img src="/assets/pics/159835266580050642.png" height="300" width="300">
    </div>
  </div>
  <div class="name-section">
    <div>
      <div class="aboutMe-title-container">ABOUT ME</div>
      <div><p class="aboutMe-text">I am a constantly learning person who keeps seeking opportunities to improve the
        skills of an IT specialist.
        During the course of the SDA academy, I have developed good skills and knowledge about Java, OOP, TDD, Clean
        Code, MySQL, from the side of frameworks: Hibernate ORM, JDBC. Currently, I have initiated to learn Front-End
        technologies: HTTP, HTML, CSS, JavaScript, and what I will learn in the future at the academy of SDA is Spring
        Framework, project management by Agile, Scrum.
        My main best qualities are thoroughness, creativity, and goal-orientation. While working on the sales manager
        position I have gained strong skills like communication and negotiation, detail orientation, analytical
        thinking, and sales.
        I am looking for an internship place or junior position, where I can use my IT knowledge and skills. If you give
        me a chance to grow in your company, you will see how fast I can learn and meet your company goals.</p></div>
    </div>
  </div>
</div>


