.name-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 10%;
  padding-left: 10%;
}

.img-container {
  display: flex;
  align-items: flex-start;
}

.aboutMe-title-container {
  color: white;
  font-weight: bold;
  font-size: 40px;
  margin-top: 45px;
  margin-bottom: 0%;
}
.aboutMe-text {
  color: white;
  font-size: 25px;
  margin-top: 0%;
  margin-bottom: 1%;
  text-align: justify;
}

h1 {
  color: white;
  font-weight: normal;
  font-size: 80px;
  margin: 0;
}
h2 {
  color: white;
  font-weight: normal;
  margin-top: 5%;
  font-size: 35px;
}

@media screen and (max-width: 992px) {
  img {
    width: 0;
    height: 0;
  }
  h1 {
    font-size: 60px;
  }
  h2 {
    font-size: 25px;
  }
  .aboutMe-title-container {
    font-size: 30px;
  }
  .aboutMe-text {
    font-size: 18px;
  }
}

@media screen and (max-width: 376px) {
  img {
    width: 0;
    height: 0;
  }
  h1 {
    font-size: 40px;
  }
  h2 {
    font-size: 15px;
  }
  .aboutMe-title-container {
    font-size: 20px;
  }
  .aboutMe-text {
    font-size: 10px;
  }
}



