.name-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 180px;
  padding-left: 180px;
}

.img-container {
  display: flex;
  align-items: flex-start;
}

.aboutMe-title-container {
  color: white;
  font-weight: bold;
  font-size: 40px;
  margin-top: 45px;
  margin-bottom: 0px;
}
.aboutMe-text {
  color: white;
  font-size: 25px;
  margin-top: 0px;
  margin-bottom: 20px;
  text-align: justify;
}

h1 {
  color: white;
  font-weight: normal;
  font-size: 80px;
  margin: 0;
}
h2 {
  color: white;
  font-weight: normal;
  margin-top: 20px;
  font-size: 35px;
}




