.information-title-bold {
  color: Black;
  font-weight: bold;
  font-size: 45px;
  margin-left: 30px;
  padding-top: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}
.information-title-2-bold {
  color: rebeccapurple;
  font-weight: bold;
  font-size: 40px;
  margin-left: 30px;
  margin-top: 10px;
  margin-bottom: 0px;
}

.information-title-3-italic {
  color: rebeccapurple;
  font-style: italic;
  font-size: 25px;
  margin-left: 30px;
  margin-top: 10px;
  margin-bottom: 0px;
}

ul {
  list-style-type: none;
  color: black;
  font-size: 25px;
  margin:10px 30px 0px 0px;
  padding-left: 30px;
  text-align: justify;
}

.skill-container {
  display: flex;
  flex-direction: column;
}

hr {
  display: flex;
  border-top: 4px solid black;
  margin-top: 40px;
  margin-bottom: 40px;
}

.button-Position {
  color: rebeccapurple;
  font-weight: bold;
  font-size: 40px;
  padding-left: 0px;
  margin-left: 30px;
  margin-top: 10px;
  margin-bottom: 0px;
  background: transparent;
  border: none;
  transition: font 0.25s ease-in;
}

.button-Position:hover {
  color: mediumspringgreen;
  font-size: 45px;
}

.button-Position:focus {
  border: none;
  outline:none;
}

.button-Position-active-link {
  color: mediumspringgreen;
  font-size: 45px;
}

.button-Description {
  color: black;
  font-weight: bold;
  font-size: 25px;
  margin: 10px 30px 0px 30px;
  padding-left: 0px;
  text-align: justify;
  background: transparent;
  border: none;
  transition: font 0.25s ease-in;
}

.button-Description:hover {
  color: mediumspringgreen;
  font-size: 30px;
}

.button-Description:focus {
  border: none;
  outline:none;
}
.button-Description-active-link {
  color: mediumspringgreen;
  font-size: 30px;
}


