.information-section{
  flex-direction: column;
  background-color: aliceblue;
  display: flex;
  padding-top: 80px;
  padding-left:10%;
  padding-right: 10%;
}

.information-title-bold {
  color: Black;
  font-weight: bold;
  font-size: 45px;
  padding: 0;
  margin: 0;
}

.information-title-2-bold {
  color: rebeccapurple;
  font-weight: bold;
  font-size: 40px;
  margin-top: 1.3%;
  margin-bottom: 0;
}

.information-title-3-italic {
  color: rebeccapurple;
  font-style: italic;
  font-size: 25px;
  margin-top: 1.3%;
  margin-bottom: 0;
}

ul {
  list-style-type: none;
  color: black;
  font-size: 25px;
  margin-top: 1.3%;
  margin-bottom: 0;
  padding-bottom: 0;
  text-align: justify;
}

.skill-container {
  display: flex;
  flex-direction: column;
}

hr {
  display: flex;
  border-top: 4px solid black;
  margin-top: 4%;
  margin-bottom: 4%;
}

.button-Position {
  color: rebeccapurple;
  font-weight: bold;
  font-size: 40px;
  padding-left: 0;
  margin-top: 1.3%;
  margin-bottom: 0;
  background: transparent;
  border: none;
}

.button-Position:hover {
  color: mediumspringgreen;
  -webkit-transition: all 0.8s ease;
}

.button-Position:focus {
  border: none;
  outline:none;
}

.button-Position-active-link {
  color: mediumspringgreen;
  font-size: 45px;
  transition: all 0.5s ease;
}

.button-Description {
  color: black;
  font-weight: bold;
  font-size: 25px;
  margin-top: 1.3%;
  padding-left: 0;
  margin-bottom: 0;
  text-align: justify;
  background: transparent;
  border: none;
}

.button-Description:hover {
  color: mediumspringgreen;
  -webkit-transition: all 0.8s ease;
}

.button-Description:focus {
  border: none;
  outline:none;
}
.button-Description-active-link {
  color: mediumspringgreen;
  font-size: 30px;
  transition: all 0.5s ease;
}

@media screen and (max-width: 992px) {
  .information-title-bold {
    font-size: 35px;
  }
  .information-title-2-bold {
    font-size: 30px;
  }
  .information-title-3-italic {
    font-size: 15px;
  }
  ul {
    font-size: 15px;
  }
  .button-Position {
    font-size: 30px;
  }
  .button-Position-active-link {
    font-size: 35px;
  }
  .button-Description {
    font-size: 15px;
  }
  .button-Description-active-link {
    font-size: 20px;
  }
  body {
    background-color: aliceblue;
  }
}
@media screen and (max-width: 861px) {
  .information-section{
    position: absolute;
    width: 100%;
    height: 100%;
  }
}

@media screen and (max-width: 376px) {
  .information-title-bold {
    font-size: 25px;
  }
  .information-title-2-bold {
    font-size: 15px;
  }
  .information-title-3-italic {
    font-size: 10px;
  }
  ul {
    font-size: 10px;
  }
  .button-Position {
    font-size: 15px;
  }
  .button-Position-active-link {
    font-size: 17px;
  }
  .button-Description {
    font-size: 10px;
  }
  .button-Description-active-link {
    font-size: 12px;
  }
  ul {
    padding: 0;
  }
  body {
    background-color: aliceblue;
  }
}


