<div>
  <p class="skills-text-bold" style=" margin-top: 20px;">HOW TO CONTACT ME</p>
  <ul>
    <li class="information-text"># City: Kaunas, Lithuania</li>
    <li class="information-text"># Email: donliskas@gmail.com</li>
    <li class="information-text"># Phone: +37063855525</li>
    <!--<li class="information-text" ;># LinkedIn: <a
            href="https://www.linkedin.com/in/donatas-lisauskas-70a0711aa/" target="_blank"
            class="linkStyle">Donatas Lisauskas</a></li>
    <li class="information-text" ;># GitLab: <a href="https://gitlab.com/LDonatas" target="_blank"
                                                class="linkStyle">LDonatas</a></li>
    <li class="information-text" ;># GitHub: <a href="https://github.com/DonatasLisauskas" target="_blank"
                                                class="linkStyle">DonatasLisauskas</a></li>-->
  </ul>
  <p class="skills-text-bold">TECHNOLOGICAL SKILLS</p>
  <ul>
    <li class="pbold">Languages:</li>
    <li class="information-text"># Java</li>
    <li class="information-text"># HTML, CSS, JavaScript, TypeScript</li>
    <li class="pbold">Databases:</li>
    <li class="information-text"># MySQL, HSQLDB</li>
    <li class="pbold">Frameworks:</li>
    <li class="information-text"># JDBC</li>
    <li class="information-text"># Hibernate ORM</li>
    <li class="information-text"># Angular</li>
    <li class="information-text"># JavaFX</li>
    <li class="information-text"># JUnit / JUnit5 / Jupiter</li>
    <li class="pbold">Other skills:</li>
    <li class="information-text"># OOP</li>
    <li class="information-text"># TDD</li>
    <li class="information-text"># Clean Code and good practices</li>
    <li class="pbold">Tools:</li>
    <li class="information-text"># IntelliJ IDEA</li>
    <li class="information-text"># MySQL Workbench</li>
    <li class="information-text"># Visual Studio Code</li>
    <li class="information-text"># Postman</li>
    <li class="information-text"># GIT</li>
    <li class="information-text"># Node.js</li>
    <p class="pbold">What I will learn in the future</p>
  </ul>
  <ul>
    <li class="information-text"># Front - end technologies</li>
    <li class="information-text"># Spring Framework</li>
    <li class="information-text"># Agile & Scrum of project management</li>
  </ul>
  <p class="skills-text-bold">PERSONALITY SKILLS</p>
  <ul>
    <li class="information-text"># Thoroughness</li>
    <li class="information-text"># Creativity Skills</li>
    <li class="information-text"># Goal-orientation</li>
    <li class="information-text"># Analytical thinking</li>
    <li class="information-text"># Teamwork</li>
    <li class="information-text"># Time Management</li>
    <li class="information-text"># Communication</li>
    <li class="information-text"># Problem Solving</li>
    <li class="information-text"># Responsibility</li>
    <li class="information-text"># Diligence</li>
    <li class="information-text"># Helpfulness</li>
    <li class="information-text"># Persistence</li>
  </ul>
  <p class="skills-text-bold">LANGUAGES</p>
  <ul>
    <li class="information-text"># Lithuanian - Native</li>
    <li class="information-text" style="padding-bottom: 40px"># English - B2 / C1</li>
  </ul>
</div>
