.skills-section {
  background-color: rebeccapurple;
  flex-direction: column;
  display: flex;
  padding-top: 80px;
  padding-left:10%;
  padding-right: 10%;
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: auto;
}
button {
  color: aliceblue;
  font-weight: bold;
  font-size: 45px;
  margin-top: 1.1%;

  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}
button:hover {
  color: mediumspringgreen;
  -webkit-transition: all 0.8s ease;
}

button:focus {
  border: none;
  outline:none;
}

.active-link {
  color: mediumspringgreen;
  font-size: 50px;
  transition: all 0.5s ease;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

li {
  list-style-type: none;
  color: aliceblue;
  font-size: 25px;
  margin-top: 0;
  margin-bottom: 1%;
  text-align: justify;
}

.pbold{
  color: aliceblue;
  font-style: italic;
  font-weight: bold;
  font-size: 25px;
  margin: 0;
  text-align: justify;
}

hr {
  display: flex;
  border-top: 4px solid aliceblue;
  margin-top: 4%;
  margin-bottom: 8%;
}

@media screen and (max-width: 992px) {
  button {
    font-size: 35px;
  }
  .active-link {
    font-size: 40px;
  }
}

@media screen and (max-width: 450px) {
  button {
    font-size: 25px;
  }
  .active-link {
    font-size: 27px;
  }
  li {
    list-style-type: none;
    font-size: 15px;
  }
  .pbold{
    font-size: 15px;
  }
}
