<div>
  <app-links></app-links>
  <p class="skills-text-bold" style=" margin-top: 20px;">HOW TO CONTACT ME</p>
  <ul>
    <li># {{contacts.city}}</li>
    <li># {{contacts.email}}</li>
    <li># {{contacts.phone}}</li>
  </ul>
  <button [ngClass]="{'active-link' : showTechSkills}" target="_blank" style="cursor: pointer"
     (click)="toggleTechSkills()">TECHNOLOGICAL SKILLS</button>
  <div *ngIf="showTechSkills" (click)="toggleTechSkills()" target="_blank" style="cursor: pointer">
    <div>
      <p class="pbold">Languages:</p>
      <ul><li *ngFor="let techL of techSkills.languages"># {{techL}}</li></ul>
    </div>
    <div>
      <p class="pbold">Databases:</p>
      <ul><li *ngFor="let techD of techSkills.databases"># {{techD}}</li></ul>
    </div>
    <div>
      <p class="pbold">Frameworks:</p>
      <ul><li *ngFor="let techF of techSkills.frameworks"># {{techF}}</li></ul>
    </div>
    <div>
      <p class="pbold">Other skills:</p>
      <ul><li *ngFor="let techOS of techSkills.otherSkills"># {{techOS}}</li></ul>
    </div>
    <div>
      <p class="pbold">Tools:</p>
      <ul><li *ngFor="let techT of techSkills.tools"># {{techT}}</li></ul>
    </div>
    <div>
      <p class="pbold">What I will learn in the future</p>
      <ul><li *ngFor="let techF of techSkills.inFuture"># {{techF}}</li></ul>
    </div>
  </div>
  <button [ngClass]="{'active-link' : showPersonalSkills}" target="_blank" style="cursor: pointer"
     (click)="togglePersonalSkills()">PERSONALITY SKILLS</button>
  <div *ngIf="showPersonalSkills" (click)="togglePersonalSkills()" target="_blank" style="cursor: pointer">
      <ul><li *ngFor="let perS of personalSkills"># {{perS}}</li></ul>
  </div>
  <button [ngClass]="{'active-link' : showLanguages}" target="_blank" style="cursor: pointer"
          (click)="toggleLanguages()">LANGUAGES</button>
  <div *ngIf="showLanguages" (click)="toggleLanguages()" target="_blank" style="cursor: pointer">
      <ul style="padding-bottom: 40px"><li *ngFor="let lang of languages"># {{lang}}</li></ul>
  </div>
</div>
