.skills-section {
  background-color: rebeccapurple;
  flex-direction: column;
  display: flex;
  padding-top: 80px;
  padding-left:180px;
  padding-right: 180px;
}
.linkStyle {
  color: aliceblue;
  font-weight: bold;
  text-decoration:none;
}

.skills-text-bold {
  color: aliceblue;
  font-weight: bold;
  font-size: 45px;
  padding-top: 0px;
  margin-top: 40px;
  margin-bottom: 0px;
}

button {
  color: aliceblue;
  font-weight: bold;
  font-size: 45px;
  margin-top: 15px;
  margin-bottom: 15px;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}
button:hover {
  color: mediumspringgreen;
  -webkit-transition: all 0.8s ease;
}

button:focus {
  border: none;
  outline:none;
}

.active-link {
  color: mediumspringgreen;
  font-size: 50px;
  transition: all 0.5s ease;
}

ul {
  margin-top: 0px;
  margin-bottom: 0px;
}

li {
  list-style-type: none;
  color: aliceblue;
  font-size: 25px;
  margin-top: 0px;
  margin-bottom: 10px;
  text-align: justify;
}

.pbold{
  color: aliceblue;
  font-style: italic;
  font-weight: bold;
  font-size: 25px;
  margin: 0;
  text-align: justify;
}
