.content-container {
  display: flex;
  flex-direction: row;
}

.information-section{
  flex-direction: column;
  background-color: aliceblue;
  display: flex;
  margin:0;
  width: 60%;
}

.skills-section {
  background-color: mediumvioletred;
  flex-direction: column;
  display: flex;
  margin:0;
  width: 40%;
}
