.content-container {
  display: flex;
  flex-direction: row;
}

.about-container {
  background-image: url("src/assets/pics/Balck02.jpg");
  display: flex;
  flex-direction: column;
}

.information-section{
  flex-direction: column;
  background-color: aliceblue;
  display: flex;
  margin:0;
  width: 60%;
}

.skills-section {
  background-color: rebeccapurple;
  flex-direction: column;
  display: flex;
  margin:0;
  width: 40%;
}
