.nav-item > a { color: rebeccapurple; font-size: 25px; margin-left: 10px}
.nav-item.active > a { color: mediumspringgreen; transition: all 0.5s ease; font-size: 28px; font-weight: bold }
.nav-item:hover > a { color: mediumspringgreen; -webkit-transition: all 0.8s ease; font-weight: bold }
.black { background-color: black}
.navbar-toggler {
  outline:mediumspringgreen;
  outline-style: solid;
}
.navbar-text{color:mediumspringgreen}
