<nav class="navbar navbar-expand-lg navbar-dark black fixed-top">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">


        <a [ngClass]="{'itemVisited' : isActive}" class="item" (click)="toogleIsActive()" >Home</a>


        <a class="item" >Features</a>


        <a class="item" >Pricing</a>


  </div>
</nav>
