.item {
  color: rebeccapurple;
  font-weight: bold;
  font-size: 30px;
  margin-left: 20px;
  -webkit-transition: all 0.5s ease;
  cursor: pointer;
}

.item:hover {
  color: mediumspringgreen;
  font-weight: bold;
  text-decoration: none;
  -webkit-transition: all 0.8s ease;
}
.itemVisited {
  color: mediumspringgreen;

  transition: all 0.5s ease;
}


.black { background-color: black }
